html{
    font-size: 62.52%;
}
.form-search{
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    padding: 0 4rem;
}
.form-search button{
    width: 10rem;
    max-width: 10rem;
}
#search{
    width: 30rem;
    padding: 0.4rem;
}
.body-dashboard{
    display: block;
}
@media only screen and (min-width: 1100px){
    .body-dashboard{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 6rem auto;
    }
}
#task-form{
    width: 20rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}
#task-form input,
#task-form button{
    margin: 1rem 0;
}
table{
    margin: 0 auto;
    font-size: 1.5rem;
    height: 1rem;
    width: 50rem;
    min-width: 50rem;
}
table tr,
table td{
    padding : 0.5rem 1rem;
    border: 1px solid black;
}
.thead-name{
    width: 11rem;
    min-width: 11rem;
}
.thead-descripcion{
    width: 25rem;
    min-width: 25rem;

}